<div>
  <div class="refy-container">
    <div class="refy-flex">
      <div class="refy-flex-half">
        <mat-form-field class="refy-input-width-full">
          <input matInput placeholder="SSCC" [(ngModel)]="search.sscc">
        </mat-form-field>

        <mat-form-field class="refy-input-width-full">
          <mat-select multiple placeholder="Warehouse" [(ngModel)]="search.warehouses">
            <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.name">
              {{warehouse.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <mat-form-field class="refy-location">
            <mat-select placeholder="Column" [(ngModel)]="columnSelection">
              <mat-option *ngFor="let column of columns" [value]="column">
                {{column}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="refy-location">
            <mat-select placeholder="Row" [(ngModel)]="rowSelection">
              <mat-option *ngFor="let row of rows" [value]="row">
                {{row}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="refy-input-width-full">
          <mat-select placeholder="Size" multiple [(ngModel)]="search.sizesSelection">
            <mat-option *ngFor="let size of sizeOptions" [value]="size.id">
              {{size.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="refy-flex-half">
        <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center">
          <div>
            <mat-button-toggle-group multiple [(ngModel)]="search.weatherSelection" class="refy-multi-line-button-group">
              <mat-button-toggle *ngFor="let weather of weatherOptions" [value]="weather.id">
                <mat-icon class="{{weather.iconClass}}"></mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div>
            <mat-button-toggle-group multiple [(ngModel)]="search.categoriesSelection" class="refy-multi-line-button-group">
              <mat-button-toggle *ngFor="let category of categoryOptions" [value]="category.id">
                <mat-icon class="{{category.iconClass}}"></mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div>
            <mat-button-toggle-group multiple [(ngModel)]="search.itemsSelection" class="refy-multi-line-button-group">
              <mat-button-toggle *ngFor="let item of itemOptions" [value]="item.id">
                <mat-icon class="{{item.iconClass}}"></mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

      </div>
    </div>
    <div class="refy-flex-row">
      <div class="refy-flex-start">
        <button mat-raised-button (click)="exportFilteredAsCsv()" color="secondary">Download as CSV</button>
      </div>
      <div class="refy-flex-end">
        <button mat-raised-button (click)="applyFilter()" color="primary">Search</button>
      </div>
    </div>
  </div>

  <div class="refy-table">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">
          {{element.id}}
        </td>
      </ng-container>

      <ng-container matColumnDef="warehouse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Warehouse</th>
        <td mat-cell *matCellDef="let element">
          {{element.warehouse}}
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let element">
          {{element.location}}
        </td>
      </ng-container>

      <ng-container matColumnDef="weather">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Weather</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let weather of element.weather" class="refy-list-icon">
            <mat-icon [className]="findWeatherIconById(weather)"></mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categories</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let category of element.categories" class="refy-list-icon">
            <mat-icon [className]="findCategoryIconById(category)"></mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Items</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.items" class="refy-list-icon">
            <mat-icon [className]="findItemIconById(item)"></mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="sizes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sizes</th>
        <td mat-cell *matCellDef="let element">
          {{findSizeById(element.sizes)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="delete" *ngIf="authService.isLoggedIn">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="delete(element)" class="refy-edit">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
  >
  </mat-paginator>
</div>
