table {
  width: 100%;
}

.refy-list-icon{
  width: auto;
  display: inline-block;
  padding: 4px;
}

.refy-table{
  display: block;
  overflow-x: auto;
  .mat-cell{
    font-size: 18px;
  }
}

.refy-multi-line-button-group {
  border: none;
  flex-wrap: wrap;
  border-radius: 0;
  overflow: visible;
  width: 100%;
  .mat-button-toggle{
    border-radius: 0;
    border: solid 1px rgba(0,0,0,.12);
    width: calc(100% / 5);
    box-sizing: border-box;
  }
  mat-icon{
    font-size: 2.2em;
  }
}

.refy-input-width-full{
  width: 100%;
}

.refy-flex{
  display: flex;
  flex-direction: row;
  margin-right: -8px;
  margin-left: -8px;
  @media (max-width: 720px){
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }
}

.refy-flex-half{
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
  @media (max-width: 720px){
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.refy-location{
  width: 50%;
}

.refy-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 16px;
}

.refy-flex-start {
  align-self: flex-start;
  flex-grow: 1;
}

.refy-flex-end {
  align-self: flex-end;
}

